@media print{
	header { display: none;}
	.blockhead a img { display: none;}
	.mobile figure img { display: none;} 
	.survey_view a img { display: none;}
	.nicks ul li a img { display: none;}
	.flowchart figure img { display: none;}
	.branding_logo { display: none;}
	.usages ul li a img { display: none;}
	.fidelity   { display: none;}
	.location_view { display: none;}
    .information_view ul li a img { display: none;}
	footer { display: none;}
	.banner_blog { display: none;}
	.nicks  { display: none;}
	.dropbox { display: none;} 
	.guide { display: none;} 
	.fidel { display: none;} 
	.features  { display: none;} 
	.yattavision {display: none;} 
	
}