/*--reset.css is here--*/
/*======== reset.css is here =========*/
*{margin:0; padding:0; box-sizing:border-box;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:bold;padding: 0;margin: 0;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clearfix:after{content:"";clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:0 none !important; }
img{border: 0;max-width: 100%;display: block;height: auto;}
/********************************************************/
a {color: #818383;text-decoration:none;outline:0 none !important;transition: all ease-in-out 0.5s;-moz-transition: all ease-in-out 0.5s;-ms-transition: all ease-in-out 0.5s;-o-transition: all ease-in-out 0.5s;-webkit-transition: all ease-in-out 0.5s;}
a:hover, a:focus {text-decoration:none; outline:0 none !important;}
h1{font-size: 1.875rem;line-height: 32px;font-weight: 700;color: #ffffff;font-family: 'Open Sans', sans-serif;}
h2{font-size:1.875rem;line-height: 32px;font-family: 'Montserrat', sans-serif;font-weight: 700;}
h3{font-size: 1.5rem;line-height: 26px;font-weight: 700;font-family: 'Open Sans', sans-serif;}
h4{font-size: 36px;line-height: 38px;font-weight: 600;}
h5{font-size: 28px;line-height: 30px;font-weight: 600;}
h6{font-size: 1.125rem;line-height: 20px;font-weight: 600;font-family: 'Open Sans', sans-serif;}
p{font-size: 0.875rem;line-height: 24px;font-weight: 400;font-family: 'Open Sans', sans-serif;}
/*-------------------reset ends here--------------------------------*/
html{font-size: 16px;}
body{line-height: 0;}
.wrapper{max-width: 100%; margin: 0 auto;}
.container{max-width: 1200px; margin: 0 auto;}
/*banner block starts*/
.banner{background: url(../images/banner.png)no-repeat;top: 0;left: 0;width: 100%;height: auto;background-size: cover;}
.banner-in{text-align: center;padding: 65px 0 142px 0;}
.banner-in h1{padding: 0 0 40px 0;}
.banner-in h3{color: #ffffff;line-height: 40px;padding: 0 0 40px 0;font-weight: 400;}
.banner-in h3 span{font-weight: 700;}
/*header block starts*/
header.hide{background: none;}
.header-in.main{padding: 60px 0 0 0;}
header{background: #002b55;}
.header-in{padding: 25px 0 26px 0;}
.logo{float: left;display: inline-block;}
.logo a{}
.logo a img{}
nav{float: right;display: inline-block;padding: 31px 0 0 0;}
nav ul{}
nav ul li{display: inline-block;padding: 0 8px;}
nav ul li a{font-size: 1.25rem;line-height: 22px;font-weight: 700;font-family: 'Montserrat', sans-serif;color: #ffffff;position: relative;}
nav ul li a:after{content: '';position: absolute;bottom: -8px;left: 0;background: #ff8300;width: 100%;height: 3px;}
nav ul li a:after{display: none;}
nav ul li a:hover:after{display: block;}
nav ul li.active a:after{display: block;}
nav ul li:last-child{padding: 0 0 0 15px;}
.let{width: 248px;height: 60px;background: #ff8300;border-radius: 50px;font-size: 1.25rem;line-height: 60px;font-weight: 400;font-family: 'Montserrat', sans-serif;color: #ffffff;border: 0;cursor: pointer;outline:none;}
/*work starts*/
.work{}
.work-in{text-align: center;padding: 102px 0 99px 0;}
.work-in h3{color: #000000;padding: 0 0 103px 0;}
.blocbox{}
.blocbox ul{margin: 0 0 112px 0;}
.blocbox ul li{float: left;width: 50%;display: inline-block;padding: 0 15px;}
.blocbox ul li:first-child{padding: 0 15px 100px 0;}
.blocbox ul li:last-child{padding: 0 15px 0 0;}
.blocbox ul li:nth-child(2){padding: 0 0 100px 15px;}
.bloc-in{position: relative;}
.bloc-in figure{}
.bloc-in > figure > img{border-top: 10px solid #32bbe3;}
.bloc-inner{position: absolute;top: 51%;left: 0;right: 0;transform: translateY(-50%);}
.bloc-inner figure{}
.bloc-inner figure img{margin: 0 auto;}
.bloc-inner h6{font-size: 1.125rem;line-height: 20px;font-weight: 700;font-family: 'Open Sans', sans-serif;color: #ffffff;padding: 50px 0;letter-spacing: 0.3px;}
.bloc-inner h2{font-size: 36px;line-height: 38px;font-weight: 700;color: #ffffff;padding: 5px 0 0 0;}
.blocbox > h2{color: #000000;font-weight: 400;padding: 0 0 54px 0;letter-spacing: 0.4px;}
/*footer starts*/
footer{background: #001a33;}
.footer-in{padding: 65px 0;}
.footer-in p{font-size: 1.125rem;line-height: 20px;font-weight: 700;font-family: 'Open Sans', sans-serif;display: inline-block;color: #ffffff;}
.footer-in p span{font-weight: 400;padding: 0 24px 0 0;}
.footer-in a{font-size: 22px;line-height: 27px;display: inline-block;float: right;color: #ffffff;}
.git{padding: 0 0 0 20px;}
.footer-in ul{display: inline-block;float: right;}
.footer-in ul li{display: inline-block;}
.footer-in ul li a{}
.footer-in ul li a i{}
/*aboutblue page starts*/
.about{}
.about-in{padding: 100px 0 72px 0;border-bottom: 3px solid #000000;}
.about-left{float: left;display: inline-block;width: 54%;}
.about-left figure{}
.about-left figure img{}
.about-right{float: right;display: inline-block;width: 46%;padding: 3px 0 0 4px;}
.about-right h2{font-weight: 700;font-family: 'Open Sans', sans-serif;padding: 0 0 35px 0;}
.about-right p{font-size: 0.875rem;line-height: 24px;font-weight: 400;font-family: 'Open Sans', sans-serif;padding: 0 0 24px 0;}
.about-right p a{text-decoration: underline;color: #ff8300;}
.connect-main{padding: 0 0 100px 0;}
.connect{text-align: center;padding: 100px 0 97px 0;border-bottom: 3px solid #000000;}
.connect h2{font-weight: 400;padding: 0 0 54px 0;letter-spacing: 0.4px;}
footer.abt{margin: 0 0 -10px 0;}
/*contact blue starts*/
.contact{}
.contact-in{padding: 106px 0 100px 0;border-bottom: 3px solid #000000;}
.contact-in h2{text-align: center;font-family: 'Open Sans', sans-serif;padding: 0 0 44px 0;}
.contact-left{float: left;display: inline-block;width: 49.3%;}
.contact-left h3{padding: 0 0 39px 0;}
form{}
form ul{}
form ul li{padding: 0 0 27px 0;}
form ul li input{width: 100%;height: 53px;border: 2px solid #000000;font-size: 1.125rem;line-height: 53px;font-weight: 400;font-family: 'Open Sans', sans-serif;color: #000000;padding: 0 9px;}
form ul li textarea{width: 100%;height: 123px;border: 2px solid #000000;font-size: 18px;line-height: 20px;font-weight: 400;font-family: 'Open Sans', sans-serif;color: #000000;padding: 12px 9px 0;resize: inherit;}
form ul li span{font-size: 18px;line-height: 20px;font-weight: 400;font-family: 'Open Sans', sans-serif;color: #000000;padding: 8px 0 28px 0;display: inline-block;}
.contact-rihgt{float: right;display: inline-block;width: 50.7%;padding:0 0 0 117px;}
.contact-rihgt h3{padding: 0 0 41px 0;font-weight: 600;}
.contact-rihgt h3 a {color: #000000;}
.contact-rihgt h3 a i{padding: 0 15px 0 0;color: #000000;font-family:fontawesome;font-size:25px;}
/* wheelmeals page starts*/
.food-truck{background: #002b55;position: relative;z-index: -99;}
.food-truck:after{content: '';position: absolute;bottom: -80px;
left: 0;right: 0;background: url(../images/curve.png)no-repeat;width: 100%;height: 105px;background-size: cover;}
.food-in{text-align: center;padding: 10px 0 294px 0;}
.food-in a{display: block;}
.food-in a img{margin: 0 auto 35px;}
.food-in h3{font-weight: 400;color: #ffffff;}

/*mobile starts*/
.mobile{}
.mobile-in{text-align: center;}
.mobile-in figure{}
.mobile-in figure img{margin: -253px auto 60px;}
.let.view{width: 414px;height: 54px;margin: 0 auto 41px;}
.summary{border-top: 3px solid #000000;}
.summary-in{max-width: 550px;margin: 0 auto;padding: 37px 0 0 0;}
.summary-in h6{padding: 0 0 37px 0;}
.summary-in p{text-align: left;padding: 0 0 32px 0;}
/*user starts*/
.user{padding: 40px 0 0 0;}
.user-in{border-top: 3px solid #000000;padding: 37px 0 0 0;}
.user-in h6{text-align: center;padding: 0 0 37px 0;}
.user-main{max-width: 691px; margin: 0 auto;}
.user-inner{padding: 0 0 30px 0;}
.user-left{width: 21%;display: inline-block;float: left;}
.user-left h3{font-family: 'Montserrat', sans-serif;font-weight: 400;padding: 0;position: relative;}
/*.user-left h3:after{content: '';position: absolute;top: 0;left: 0;background: url(../images/Oval.png)no-repeat;width: 110px;height: 110px;}*/
.user-right{width: 79%;display: inline-block;float: right;padding: 4px 0 0 7px;}
.user-right p{font-size: 1.125rem;line-height: 32px;font-weight: 400;font-family: 'Open Sans', sans-serif;}
.result{padding: 10px 0 0 0;max-width: 550px; margin: 0 auto;}
.result span{font-size: 0.875rem;line-height: 16px;font-weight: 400;font-family: 'Open Sans', sans-serif;display: block;padding: 0 0 33px 0;}
.result p{line-height: 19px;font-weight: 700;padding: 0 0 29px 4px;}
.result p strong{font-weight: 400;}
.result p a{font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;font-family: 'Open Sans', sans-serif;}
.survey{background: #eeeeee;}
.survey-in{padding: 40px 0 0 0;max-width: 838px;margin: 0 auto;}
.survey-in a{font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;padding: 0 0 137px 0;font-family: 'Open Sans', sans-serif;font-size:14px;line-height:16px;}
.survey-in figure{}
.survey-in figure img{margin: 0 0 39px 0;}
.stories{max-width: 548px;margin: 0 auto;padding: 40px 0 0 0;}
.stories h6{padding: 0 0 39px 0;text-align: center;}
.stories p{padding: 0 0 40px 0;}
.survey-in a.str{padding: 0 0 44px 0;}
.survey-in.aa{padding: 0;}
/*user-flow starts*/
.user-flow{background: #eeeeee;border-top: 1px solid #000000;border-bottom: 1px solid #000000;}
.user-flow-in{padding: 37px 0;max-width: 548px;margin: 0 auto;}
.user-flow-in h6{padding: 0 0 37px 0;text-align: center;}
.user-flow-in p{padding: 0 0 40px 0;}
.user-flow-in a{font-size: 14px;line-height: 24px;font-weight: 700;font-family: 'Open Sans', sans-serif;font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;}
/*chart starts*/
.chart{}
.chart-in{padding: 36px 0 32px 0;border-bottom: 3px solid #000000;}
.chart-in figure{}
.chart-in figure img{}
/*Competitive starts*/
.Competitive{}
.Competitive-in{border-bottom: 3px solid #000000;}
.Competitive-inner{padding: 37px 0 39px 0;max-width: 755px;margin: 0 auto;}
.Competitive-inner h6{padding: 0 0 37px 0;text-align: center;}
.Competitive-inner ul{font-size: 0;margin: 0 0 35px 0;}
.Competitive-inner ul li{display: inline-block;width: 33.33%;padding: 0 15px;}
.Competitive-inner ul li a img{}
.roming{max-width: 550px;margin: 0 auto;}
.roming p{padding: 0 0 24px 0;}
.roming p span{font-weight: 700;}
.roming a{font-size: 0.875rem;line-height: 24px;font-weight: 700;font-family: 'Open Sans', sans-serif;font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;padding: 12px 0 0 0;}
.Branding{}
.Branding-in{padding: 37px 0 0 0;}
.branding-style{padding: 0 0 7px 0;border-bottom: 3px solid #000000;}
.Branding-inner{max-width: 697px;margin: 0 auto;}
.Branding-inner h6{padding: 0 0 37px 0;text-align: center;}
.Branding-inner ul{margin: 0 0 25px 0;}
.Branding-inner ul li{display: inline-block;width: 50%;float: left;padding: 0 15px;}
.Branding-inner ul li figure{}
.Branding-inner ul li figure img{}
.design{max-width: 550px; margin: 0 auto;}
.design p{padding: 0 0 24px 0;}
.style-in{padding: 32px 0 29px 0;border-bottom: 3px solid #000000;}
.style-in ul{margin: 0 0 26px 0;}
.style-in ul li{display: inline-block;width: 50%;float: left;}
.style-in ul li figure{}
.style-in ul li figure img{}
.style-in a{font-size: 0.875rem;line-height: 24px;font-weight: 700;font-family: 'Open Sans', sans-serif;font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;}
.fidelity{padding: 37px 0 0 0;border-bottom: 3px solid #000000;}
.fidelity h6{text-align: center;padding: 0 0 37px 0;}
.fidelity ul{font-size: 0;text-align: center;}
.fidelity ul li{display: inline-block;width: 33.33%;padding: 0 7px 35px;}
.fidelity ul li:first-child{padding: 0 15px 35px 0;}
.fidelity ul li:nth-child(3){padding: 0 0 35px 15px;}
.fidelity ul li figure{}
.fidelity ul li figure img{}
.few{border-bottom: 3px solid #000000;}
.few-in{max-width: 550px;margin: 0 auto;padding: 31px 0 3px 0;}
.few p{padding: 0 0 24px 0;}
.high{border-bottom: 3px solid #000000;}
.high-in{max-width: 550px;margin: 0 auto;padding: 37px 0 8px 0;}
.high-in h6{text-align: center;padding: 0 0 40px 0;}
.high-in p{padding: 0 0 24px 0;}
/*sign starts*/
.sign{padding: 32px 0 28px 0;border-bottom: 3px solid #000000;}
.sign ul{}
.sign ul li{display: inline-block;padding: 0 28px;}
.sign ul li:first-child{padding: 0 28px 0 0;}
.sign ul li:last-child{padding: 0 0 0 28px;}
.sign ul li figure{}
.sign ul li figure img{}
/*map starts*/
.map{padding: 35px 0 28px 0;border-bottom: 3px solid #000000;}
.map-in{max-width: 550px; margin: 0 auto;}
.map-in p{padding: 0 0 32px 0;}
.map-inner{}
.map-inner ul{text-align: center;}
.map-inner ul li{display: inline-block;padding: 0 27px;}
.map-inner ul li figure{}
.map-inner ul li figure img{}
.salad{padding: 37px 0 0 0;}
.salad .sign{padding: 0 0 29px 0;}
.salad .map-in p{padding: 0 0 7px 0;}
.testing{padding: 37px 0 7px 0;border-bottom: 3px solid #000000;}
.map-in h6{text-align: center;padding: 0 0 38px 0;}
.testing .map-in p{padding: 0 0 24px 0;}
.inform{padding: 33px 0 28px 0;border-bottom: 3px solid #000000;}
.inform.cart{border: 0;}
.overall{background: #4cb050;}
.overall-in{padding: 36px 0 0 0;}
.overall-in .map-in p{font-style: italic;color: #ffffff;}
.nicole{}
.nicole-in{padding: 38px 0 5px 0;border-bottom: 3px solid #000000;}
.nicole .map-in p{padding: 0 0 24px 0;}
.map-inner.nicole{padding: 33px 0 0 0;}
.map-inner.nicole ul li{padding: 0 27px 31px;}
.map-in.greg{padding: 34px 0 0 0;}
.final{}
.final-in{padding: 40px 0 0 0;border-bottom: 3px solid #000000;}
.conslusion{padding: 35px 0 0 0;text-align: center;border-bottom: 3px solid #000000;}
.conslusion .map-in p{padding: 0 0 24px 0;text-align: left;}
.let.view.con{margin: 8px 0 36px 0;}
/*blockbox page starts*/
.blockbox{}
.blockbox .food-in figure img{margin: 0 auto 28px;}
.blockbox .food-in h3{letter-spacing: 0.3px;line-height: 40px;}
.device .mobile-in figure img{margin: -261px auto 47px;}
.device .summary-in{padding: 35px 0 0 0;}
.device .summary-in p{padding: 0 0 29px 0;}
.user-servey .user{background: none;padding: 0;}
.user-servey .user-left h3{padding: 0 0 0 0;}
/*.user-servey .user-left{width: 16%;}*/
/*.user-servey .user-right{width: 84%;}*/
.user-servey .user-left h3:after{left: -34px;}
.user-servey .save{padding: 21px 0 0 0;}
.user-servey .result {padding: 10px 0 0 0;}
.user-servey .result span{padding: 0 0 30px 0;}
.user-servey .result p{line-height: 22px;}
.user-servey .result p a{padding: 31px 0 0 0;}
.block-servey .survey-in h6{text-align: center;padding: 0 0 31px 0;}
.block-servey .survey-in figure img {margin: 0 0 36px 0;}
.block-servey .survey{background: #eeeeee;}
.block-servey .survey-in a.str {padding: 0 0 36px 0;}
.block-servey .stories{padding: 35px 0;}
.block-servey .stories a{font-weight: 700;color: #ff8201;text-align: center;text-decoration: underline;display: block;font-family: 'Open Sans', sans-serif;font-size:14px;line-height:16px;}
.block-servey .stories p{padding: 0 0 32px 0;}    
.sitemap .user-flow{border: 0;}
.sitemap .user-flow-in p{padding: 0 0 30px 0;}
.sitemap .user-flow-in{padding: 37px 0 33px 0;}
.flow{padding: 33px 0 32px 0;border-bottom: 3px solid #000000;}
.flow figure{}
.flow figure img{margin: 0 auto;}
.box .Competitive-inner ul li{vertical-align: middle;}
.brand-style .Branding-inner ul li{width: 33.33%;vertical-align: middle;padding: 0 15px;}
.brand-style .Branding-inner ul li figure img{margin: 0 auto;}
.brand-style .Branding-inner ul {margin: 0 0 35px 0;}
.brand-style .branding-style {padding: 0 0 3px 0;}
.brand-style  .style-in figure img{margin: 0 auto 43px;border: 1px solid #979797;}
.brand-style .style-in {padding: 32px 0 37px 0;}
.brand-style .fidelity ul li{vertical-align: top;padding: 0 20px 31px;}
.brand-style .fidelity ul li:first-child {padding: 0 42px 35px 0;}
.brand-style .fidelity ul li:nth-child(3) {padding: 0 0 35px 42px;}
.brand-style .fidelity ul li:nth-child(4) {padding: 0 66px 35px 0;width: 50%;}
.brand-style .fidelity ul li:nth-child(5) {padding: 0 0 35px 66px;width: 50%;}
.brand-style .high-in{max-width: 100%;border-bottom: 3px solid #000000;}
.brand-style .high-in figure img{margin: 0 auto;}
.brand-style .high-in h6{padding: 0 0 36px 0;}
.brand-style .high-in ul{}
.brand-style .high-in li{display: inline-block;width: 50%;float: left;}
.brand-style .high{border: 0;}
.brand-style .item-main{}
.brand-style .item{padding: 35px 0 31px 0;border-bottom: 3px solid #000000;}
.brand-style .item.line{border: none;}
.brand-style .item-left{float: left;display: inline-block;width: 50%;padding: 0 15px 0 0;}
.brand-style .item-left figure img{margin: 0;}
.brand-style .item-right{float: right;display: inline-block;width: 50%;padding: 0 0 0 15px;}
.brand-style .item-right figure img{margin: 0 0 0 auto;}
.brand-style .began{max-width: 550px; margin: 0 auto;padding: 35px 0 0 0;}
.share{padding: 30px 0 0 0;border-bottom: 3px solid #000000;}
.share > figure > img{margin: 0 auto 41px;}
.sign-up{padding: 0 0 34px 0;}
.share-left{display: inline-block;float: left;width: 50%;padding: 0 104px 0 0;}
.share-left figure img{}
.share-right{display: inline-block;float: right;width: 50%;padding: 0 0 0 104px;}
.share-right figure img{}
.share-left.accounts{padding: 0 59px 0 0;}
.share-right.accounts{padding: 0 0 0 59px;}
.finaliazed{padding: 32px 0 2px 0;border-bottom: 3px solid #000000;}
.individual{padding: 38px 0 0 0;}
.individual .map-in h6{line-height: 23px;padding: 0 0 12px 0;}
.individual  .map-in p{padding: 0 0 29px 0;}
.mary{background: #7e630a;padding: 34px 0 0 0;}
.mary .map-in p{color: #ffffff;font-style: italic;}
.austin{padding: 37px 0 6px 0;}
.austin .map-in h6{line-height: 23px;padding: 0 0 7px 0;}
.austin .map-in p{padding: 0 0 25px 0;}
.austin-inner{padding: 0 0 3px 0;border-bottom: 3px solid #000000;}
.add{}
.add .item-left{float: left;display: inline-block;width: 50%;padding: 0 56px 0 0;}
.add .item-right{float: right;display: inline-block;width: 50%;padding: 0 0 0 56px;}
.indicated{}
.indicated-in{padding: 37px 0 0 0;border-bottom: 3px solid #000000;}
.thired{padding: 37px 0 0 0;}
.mary.andrew{padding: 34px 0 9px 0;}
.final-user{}
.final-user-in{padding: 37px 0 0 0;border-bottom: 3px solid #000000;}
.final-user .map-in h6{padding: 0 0 11px 0;}
.final-user-inner{padding: 43px 0 33px 0;border-bottom: 3px solid #000000;}
.final-left{float: left;display: inline-block;width: 50%;    padding: 0 15px 0 0;}
.final-right{float: right;display: inline-block;width: 50%;    padding: 0 0 0 15px;}
.final-right figure img{margin: 0 0 0 auto;}
.being{border-bottom: 3px solid #000000;padding: 33px 0 5px 0;}
.being.ln{border: 0;}
.being-in{padding: 4px 0 31px 0;border-bottom: 3px solid #000000;}
.being-in ul{}
.being-in ul li{display: inline-block;float: left;width: 50%;padding: 0 0 36px 0;}
.being-in ul li:nth-child(even) figure img{margin: 0 0 0 auto;}
.being-in ul li:nth-child(even){padding: 0 0 36px 15px;}
.being-in ul li:nth-child(odd){padding: 0 15px 36px 0;}
.being-in .let{display: block;margin: 5px auto 0;}
/*yattavision page starts*/
.food-in.yatta{padding: 10px 0 275px 0;}
.mobile-in.yattacut figure img{margin: -239px auto 47px;}
.food-in.yatta figure img{margin: 0 auto 50px;}
.result p.pdg{padding: 0 0 0 4px;}
.result p.common{padding: 0 0 5px 4px;}
.stories.vision{padding: 40px 0 44px 0;}
.stories.vision p{padding: 0 0 24px 0;}
.fidelity.buy{padding: 37px 0 29px 0;}
.fidelity.buy figure img{margin: 0 auto;}
.few.mockup h6{text-align: center;padding: 0 0 15px 0;}
.few.mockup .few-in{padding: 40px 0 6px 0;}
.social{padding: 35px 0;border-bottom: 3px solid #000000;}
.social > ul{margin: 0 -15px;}
.social > ul > li{display: inline-block;float: left;width: 33.333%;padding: 0 15px 35px;}
.social > ul > li:last-child{padding: 0 0 35px 15px;}
.social > ul > li > figure img{margin: 0 auto;}
.social figure img{margin: 0 auto;}
.cam{}
.cam ul{margin: 0 -15px;}
.cam ul li{display: inline-block;float: left;width: 50%;padding: 0 15px 23px;}
.social.cam-in{padding: 35px 0 0px 0;}
.social.meet{padding: 26px 0 32px 0;}
.social.meet-in{padding: 35px 0 0 0;}
.few.mockup .few-in.veronica{padding: 25px 0 0 0;}
.few.mockup h6.ver{padding: 0 0 10px 0;}
.few.mockup.ver{border: 0;}
.mary.yatvision{background: #264EBF;}
.austin-inner.yattvsn{border: 0;}
.final-in.return{text-align: center;}
.final-in.return .map-in{text-align: left;}
.social.meet-in .social > ul > li{}

/*side menu*/
.menu{display: none;float: right;}        
.menu{cursor: pointer;background: transparent;border: 0;outline: none;}
.menu span{display: none;width: 30px;height: 3px;margin: 6px 0 0 0;position: relative;right: 0;-webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;background: #ffffff;}
.menu.wte span{background:#fff;}
.sidemenu{display: none;position: fixed;top:0;right: -250px;-webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;width: 250px;height: 100%;background: #002b55;z-index:2;}
.open-menu .sidemenu{right: 0;}
.open-menu .sidemenu nav{display: block;width:100%;}
.stiky.open-menu .wrapper{left: -250px;}
.open-menu header.stick_header{left: -250px;}
.open-menu{overflow: hidden;}
 .open-menu .menu span:nth-child(1) {
  top: 0px;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(4deg);
  transform: rotate(45deg); }
 .open-menu .menu span:nth-child(2) {top: 12px; opacity: 0;right: -60px;}
.open-menu .menu  span:nth-child(3) { top: 24px; top: -9px;-webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);  transform: rotate(-45deg);
  font-weight: normal; }
/*sticky header*/
.move-sticky-up header {left: 0; top:0px;transition:all ease-in-out 0.5s; -webkit-transition:all ease-in-out 0.5s;-ms-transition:all ease-in-out 0.5s;-o-transition:all ease-in-out 0.5s;-moz-transition:all ease-in-out 0.5s;background: #001a33;z-index: 99;width:1440px;margin:0 auto;}
.sticky header {position:fixed;top:0;left: 0;width: 100%;}
.move-sticky-up header .header-in{padding: 15px 0;}
/*sticky header*/


@media print{
	.banner-in h3 br{display: none !important;}
	.header-in.main{padding: 60px 15px 0 15px;}
	.footer-in{padding: 65px 15px;}
	.bloc-inner figure.vn {height: 62px;}
	.header-in {padding: 25px 15px 26px;}
	.about-right{padding: 3px 0 4px 15px;}
	.food-truck:after{background-size: 100% 100%;}
	.sticky header {position: static;}
}